header{
    position: static;
    top: 0;
    left: 0;
    right: 0;
    height: 150px;
    display: flex;
    align-items: center;
    background-color: #00244d;
    color: white;
    font-weight: 600;
}

#SAFI-Logo{
    margin: 0 50px;
}

#UAEM-Logo{
    margin: 0 50px;
}

header h1{
    color: white;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}


.graficas{
    background-color: #ffff;
    height: 1500px;
    width: 81%;
    position: absolute;
    align-content: center;    
    border-radius: 10px;

}

.grafica{
    float:right;
    padding-left: 20px;
}

.renglon_1{
    overflow: hidden;
    position: absolute;
    z-index: 999; 
 }
 
 .renglon_2{
     overflow: hidden;
     position: absolute;
     z-index: 500; 
  }

  .renglon_3{
    overflow: hidden;
    position: absolute;
 }

#temp{
    width: 500px;
}

#pres{
    width: 500px;
    margin-right: 50px;
}

#altura{
    margin-top: 400px;
    width: 500px;
}

#aceleracion{
    margin-top: 400px;
    margin-right: 50px;
    width: 500px;
}

#vel_angular{
    margin-top: 800px;
    width: 500px;
}

#inclinacion{
    margin-top: 800px;
    width: 500px;
    margin-right: 50px;

}

.tabla{
    margin-top: 1300px;
    margin-left: 28%;
    margin-right: auto;
    text-align: center;
    line-height: 30px;
}

.resumen{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    border-collapse: collapse;
    width: 500px;
}

.resumen td{
    border-bottom: solid black;
    border-left: solid black;
    border-right: solid black;
}

.resumen tr:nth-child(odd){
    background-color: #cecece;
}


#table_title{
    font-weight: bold;
    border-bottom: solid black;
}