body{
    background-color: rgb(34, 34, 34);
}

b{
    display: flex;
    justify-content: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: -0.5em;
}

#mes_error{
    background-color: rgb(255, 72, 72);
    max-width: 15em;
    margin: 0 auto;
    margin-top: 1em;
    border-radius: 5px;
}

#temp{
    padding: 0.7em;
    border-radius: 10px;
    max-width: 11em;
    margin: 0 auto;
}

#description{
    font-weight: 300;
    margin-bottom: 0.5em;
}

#main-background{
    margin: 0 auto;
    margin-top: 8%;
    background-color: gray;
    max-width: 30em;
    max-height: 27em;
    height: 27em;
    position: static;
    text-align: center;
    border-radius: 10%;
    box-shadow: 0.5em 0.5em 0.1em black;
}

#nav{
    padding: 1em;
}

img{
    margin: 1em 1em 0 1em;
    width: 8em;
}

input{
    padding: 0.5em;
    margin-bottom: 1em;
    box-sizing: border-box;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
}

button{
    border: none;
    border-radius: 1em;
    width: 30%;
    padding: 0.5em;
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

button:hover{
    box-sizing: border-box;
    border-radius: 1em;
    border: solid rgb(112, 112, 112) 2px;
}